{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/artefacts.css">
    {% block title %}
    <title>Добавление зала и расположения</title>
   {% endblock %}
</head>
<body>
<script>
function goBack() {
  var url = "{% url 'add_new_info' %}";
  window.location.href = url;
}
</script>
{% block content %}
 <div class="container py-5" >
<h1>Добавление месторасположения в музее</h1>
<hr>
<!--Форма добавления культуры-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление зала</h2>
    <p>Зал: {{ hall_form.name_hall}} </p>

  <button type="submit" name="save_hall" class="btn btn-outline-primary btn-sm">Сохранить зал</button>
</form>
<!--Форма добавления исторического периода-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление расположения</h2>

    <p>Расположение: {{ place_form.name_place}}</p>

  <button type="submit" name="save_place" class="btn btn-outline-primary btn-sm">Сохранить расположение</button>
</form>
<!--Форма добавления связи между культурой и историческим периодом-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление связи между залом и расположением</h2>

    <p>Зал: {{ hp_form.name_hall}}</p>
    <p>Расположение: {{ hp_form.name_place}}</p>
  <button type="submit" name="save_hp" class="btn btn-outline-primary btn-sm">Сохранить связь между залом и расположением</button>
   <a  href="{% url 'add_new_info' %}" class="btn btn-outline-primary btn-sm">Назад</a>
</form>
     {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}
 </div>
 {% endblock %}
</body>
</html>