{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/artefacts.css">
    {% block title %}
    <title>Добавление культуры и исторического периода</title>
    {% endblock %}
</head>
<body>
<script>
function goBack() {
  var url = "{% url 'add_new_info' %}";
  window.location.href = url;
}
</script>
{% block content %}
 <div class="container py-5" >
<h1>Добавление культуры и исторического периода</h1>
<hr>
<!--Форма добавления культуры-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление культуры</h2>

     <p>Культура: {{ culture_form.name_cult}}</p>

  <button type="submit" name="save_culture" class="btn btn-outline-primary btn-sm">Сохранить культуру</button>
</form>
<!--Форма добавления исторического периода-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление исторического периода</h2>
    <p>Исторический период: {{ period_form.name_hist }}</p>

  <button type="submit" name="save_period" class="btn btn-outline-primary btn-sm">Сохранить исторический период</button>
</form>
<!--Форма добавления связи между культурой и историческим периодом-->
<form method="post">
  {% csrf_token %}

  <h2>Добавление связи между культурой и историческим периодом</h2>
    <p>Культура: {{ hc_form.name_cult }}</p>
    <p>Исторический период: {{ hc_form.name_hist }}</p>
  <button type="submit" name="save_hc" class="btn btn-outline-primary btn-sm">Сохранить связь между культурой и историческим периодом</button>
   <a  href="{% url 'add_new_info' %}" class="btn btn-outline-primary btn-sm">Назад</a>
</form>

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}
 </div>
 {% endblock %}
</body>
</html>