{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/artefacts.css">
    {% block title %}
        <title>{{context}}</title>
    {% endblock %}
</head>
<body>
 {% block content %}
 <div class="container py-5" >
<h1>{{context}}:</h1>
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    <a  href="{% url 'add_new_info' %}" class="btn btn-outline-primary">Назад</a>
  </form>
 {% if form.errors %}
  <div class="alert alert-danger">
    {% for field in form %}
      {% if field.errors %}
        <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if messages %}
  <div class="alert alert-success">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}
</div>
{% endblock %}
</body>
</html>